<section class="banner">
  <div class="container">
    <div class="banner__content">
      <div class="banner__title">Весна/Лето 2019</div>
      <div class="banner__subtitle">Коллекция</div>
      <p class="banner__text">
        Швейцарские часы в наличии в Москве и с доставкой по всему миру
      </p>
      <a href="#" class="btn">Смотреть каталог</a>
    </div>
    <div class="banner__img">
      <div class="banner__price">22 000 ₽</div>
      <img src="@img/banner/watch_main.png" alt="watch image" />
      <div class="banner__size">28 мм диаметр</div>
    </div>
  </div>
</section>
