<section class="feature">
  <div class="container">
    <div class="feature__img">
      <img src="@img/feature/photo_banner.jpg" alt="feature image" />
      <div class="feature__page page">
        <button class="page__arrow">
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 1L1 6L6 11"
              stroke="#1B1A17"
              stroke-width="0.5"
            />
          </svg>
        </button>
        <div class="page__number">01</div>
        <button class="page__arrow">
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 11L6 6L1 1"
              stroke="#1B1A17"
              stroke-width="0.5"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="feature__content">
      <h3 class="feature__title">Подлинное качество</h3>
      <p class="feature__text">
        Все часы производятся в Швейцарии и имеют сертификаты качества.
        Настоящие швейцарские часы — это предмет гордости и престижа.
      </p>
      <a href="#" class="feature__link">Смотреть каталог</a>
    </div>
  </div>
</section>