<footer class="footer">
  <div class="container">
    <div class="footer__items">
      <div class="footer__item">
        <div class="footer__title">
          <img src="@img/logo/logo-white.png" alt="logo image" />
          <div class="footer__logo">Conquest</div>
        </div>
        <div class="footer__links">
          <div class="footer__link">8 (499) 450-47-97</div>
          <div class="footer__link">info@conquest.watch.ru</div>
        </div>
      </div>

      <div class="footer__item">
        <div class="footer__title">О компании</div>
        <div class="footer__links">
          <a href="#" class="footer__link">Наши магазины</a>
          <a href="#" class="footer__link">Вакансии</a>
          <a href="#" class="footer__link">Сертификаты</a>
          <a href="#" class="footer__link">Отзывы</a>
        </div>
      </div>

      <div class="footer__item">
        <div class="footer__title">Покупателям</div>
        <div class="footer__links">
          <a href="#" class="footer__link">Каталог товаров</a>
          <a href="#" class="footer__link">Как заказать?</a>
          <a href="#" class="footer__link">FAQ</a>
          <a href="#" class="footer__link">Корпоративным клиентам</a>
        </div>
      </div>

      <div class="footer__item">
        <div class="footer__title">Оплата и доставка</div>
        <div class="footer__links">
          <a href="#" class="footer__link">Способы оплаты</a>
          <a href="#" class="footer__link">Время доставки</a>
          <a href="#" class="footer__link">Гарантии и ремонт</a>
          <a href="#" class="footer__link">Возврат и компенсация</a>
        </div>
      </div>
    </div>
  </div>
</footer>
