<section class="popular">
  <div class="container">
    <div class="popular__title">Популярные модели</div>
    <div class="popular__all"><a href="#">Смотреть все</a></div>
    <div class="popular__items">
      <div class="popular__item product">
        <h2 class="product__title">Rado</h2>
        <div class="product__price">65 300 ₽</div>
        <div class="product__img">
          <img src="@img/products/watch_1.png" alt="watch image" />
        </div>
        <a href="#" class="product__more">Подробнее</a>
      </div>

      <div class="popular__item product">
        <h2 class="product__title">BVLGARI</h2>
        <div class="product__price">81 700 ₽</div>
        <div class="product__img">
          <img src="@img/products/watch_3.png" alt="watch image" />
        </div>
        <a href="#" class="product__more">Подробнее</a>
      </div>

      <div class="popular__item product">
        <h2 class="product__title">BVLGARI</h2>
        <div class="product__price">72 700 ₽</div>
        <div class="product__img">
          <img src="@img/products/watch_4.png" alt="watch image" />
        </div>
        <a href="#" class="product__more">Подробнее</a>
      </div>
    </div>
  </div>
</section>