.popular {
  background-color: white;

  .container {
    padding-top: 80px;
    padding-bottom: 85px;

    .popular__title {
      font-family: 'PlayfairDisplaySC';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 43px;
      color: #1b1a17;
      margin-bottom: 35px;
      text-align: center;
    }

    .popular__all {
      margin-bottom: 35px;
      width: 100%;
      text-align: right;

      a {
        padding-bottom: 5px;
        border-bottom: 1px solid #c4c0b6;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #444240;
        display: inline-block;
      }
    }

    .popular__items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }

      .popular__item.product {
        background: #fdfdfb;
        padding: 40px;

        .product__title {
          font-family: 'PlayfairDisplaySC';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: rgba(27, 26, 23, 0.82);
          margin-bottom: 10px;
        }
        .product__price {
          font-family: 'Prata';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: rgba(27, 26, 23, 0.82);
        }
        .product__img {
          position: relative;
          margin-bottom: 20px;

          &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            //border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background-image: url(../img/decor/Ellipse.png);
            background-size: cover;
          }

          img {
            width: 100%;
          }
        }
        .product__more {
          padding-left: 48px;
          font-family: 'PlayfairDisplaySC';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #1b1a17;
          position: relative;

          &:before {
            content: '';
            display: inline-block;
            width: 30px;
            border: 1px solid #8b8371;
            position: absolute;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }
}