@import '_fonts';
@import '_null';

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0;
  background: #fdfdfb;

  &.stop-scroll {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 320px;

  .main {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  background: #444240;
  padding: 25px 40px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

@import '_header';
@import '_banner';
@import '_popular';
@import '_news';
@import '_feature';
@import '_footer';






